<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About me</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header class="header">
        <a href="#" class="logo">MG</a>

        <i class="bx bx-menu" id="menu-icon"></i>
        <nav class="navbar">
            <a href="/index.html">Home</a>
            <a href="#about" class="active">About</a>
            <a href="#services">Services</a>
            <a href="#portfolio">Portfolio</a>
            <a href="#contact">Contact</a>
        </nav>
    </header>
    <section class="about" id="about">
        <div class="about-content">
            <h2 class="heading">About <span>Me</span></h2>
            <h3>My name's Madi. I'm 19 years. I'm from Kazahstan, city Almaty</h3>
            <p>For four years I studied different languages such as:</p>
            <div class="about-img">
                <div class="content-section">
                    <img src="/img/java.jpeg" alt="">
                    <p><span>Java</span> - Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat rem sit iusto blanditiis eos odit quis! Distinctio perferendis voluptates mollitia blanditiis modi. Quae repudiandae provident amet totam veniam natus
                        cum.
                    </p>
                </div>
                <div class="content-section">
                    <img src="/img/php.png" alt="">
                    <p><span>PHP</span> - Lorem, ipsum dolor sit amet consectetur adipisicing elit. Velit quos voluptatem a? Nisi, alias. Officiis, nihil? Beatae ab asperiores deserunt. Deleniti tempora unde cupiditate id esse nostrum iste fugit dolor?</p>
                </div>
                <div class="content-section">
                    <img src="/img/python.webp" alt="">
                    <p><span>Python</span> - Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero amet officiis quae vitae, odit molestiae dignissimos optio nostrum similique eos nam at sit obcaecati excepturi quisquam magni vel laudantium cumque!</p>
                </div>
            </div>
        </div>
    </section>
    <section class="studied">
        <h1>Об учебе</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Libero voluptatem quae debitis eius vero aliquid corrupti alias fugiat, a enim! Voluptas labore numquam veniam, ex culpa similique voluptate ab necessitatibus!</p>
        div
        <div class="about-img">
            <div class="content-section">
                <img src="/img/java.jpeg" alt="">
                <p><span>Java</span> - Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat rem sit iusto blanditiis eos odit quis! Distinctio perferendis voluptates mollitia blanditiis modi. Quae repudiandae provident amet totam veniam natus
                    cum.
                </p>
            </div>
            <div class="content-section-right">
                <img src="/img/java.jpeg" alt="">
                <p><span>Java</span> - Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat rem sit iusto blanditiis eos odit quis! Distinctio perferendis voluptates mollitia blanditiis modi. Quae repudiandae provident amet totam veniam natus
                    cum.
                </p>
            </div>
    </section>
    <footer class="footer">
        <div class="footer-text">
            <p>Copyright &copy; 2023 by MG | All Rights Reserved.</p>
        </div>
        <div class="footer-iconTop">
            <a href="#home"><i class="bx bx-up-arrow-alt"></i></a>
        </div>
    </footer>
    <div class="text-center">
        <img src="./img/pexels-kevin-villaruz-1660603.jpg" class="rounded" alt="...">
    </div>
    <button>click me</button>
    <script src="./js/script.js">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js " integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN " crossorigin="anonymous "></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js " integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN " crossorigin="anonymous "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js " integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b "></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</body>

</html>