{% extends 'main_pages/base.html' %}

{% load static %}

 {% block content %}
    <section class="home" id="home">
        <div class="home-content">
            <h3>Hello, It's Me</h3>
            <h1>Gaziz Madi</h1>
            <h3>And I'm a <span class="multiple-text"></span></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus repellendus, adipisci nisi fuga corporis odio dolores ipsa repellat mollitia non ratione molestiae exercitationem veritatis, placeat saepe debitis voluptates numquam modi.</p>
            <div class="social-media">
                <a href="https://twitter.com/zuPI9aPuz0GIkkY" target="_blank"><i class="bx bxl-twitter" ></i></a>
                <a href="https://vk.com/id278203204" target="_blank"><i class="bx bxl-vk" ></i></a>
                <a href="https://www.instagram.com/gzyzz45/" target="_blank"><i class="bx bxl-linkedin" ></i></a>
                <a href="https://discordapp.com/users/284022984644100096/" target="_blank"><i class="bx bxl-discord" ></i></a>
            </div>
            <a href="https://github.com/MGzyzz" class="btn">Download CD</a>
        </div>
        <div class="home-img">
            <img src="{% static 'img/img-prototype.png' %}" alt="#">
        </div>
    </section>

    <section class="about" id="about">
        <div class="about-img">
            <img src="{% static 'img/img-prototype.png' %}" alt="#">
        </div>

        <div class="about-content">
            <h2 class="heading">About <span>Me</span></h2>
            <h3>Backend Devolper!</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti, distinctio commodi. Numquam dolorem asperiores corrupti impedit eos dicta deleniti eligendi id et rem natus tenetur molestiae porro voluptatum, unde esse.s</p>
            <a href="/about_me.html" class="btn">Read More</a>
        </div>
    </section>

    <section class="services" id="services">
        <h2 class="heading">Our <span>Services</span></h2>
        <div class="services-container">
            <div class="services-box">
                <i class="bx bx-code-alt"></i>
                <h3>Web Devolper</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto similique enim mollitia et quod, ea, minima nesciunt nostrum natus ipsum, eos perspiciatis at perferendis magnam porro suscipit autem doloremque? Odit.</p>
                <a href="#" class="btn">Read More</a>
            </div>
            <div class="services-box">
                <i class="bx bxs-paint"></i>
                <h3>Graphic Design</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto similique enim mollitia et quod, ea, minima nesciunt nostrum natus ipsum, eos perspiciatis at perferendis magnam porro suscipit autem doloremque? Odit.</p>
                <a href="#" class="btn">Read More</a>
            </div>
            <div class="services-box">
                <i class="bx bx-bar-chart-alt"></i>
                <h3>Digital Marketing </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto similique enim mollitia et quod, ea, minima nesciunt nostrum natus ipsum, eos perspiciatis at perferendis magnam porro suscipit autem doloremque? Odit.</p>
                <a href="#" class="btn">Read More</a>
            </div>
        </div>
    </section>

    <section class="portfolio" id="portfolio">
        <h2 class="heading">Latest <span>Project</span></h2>

        <div class="portfolio-container">
            <div class="portfolio-box">
                <img src="{% static 'img/img-prototype.png' %}" alt="#">
                <div class="portfolio-layer">
                    <h4>Web Design</h4>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo consequatur dolorem dolorum eius quae. </p>
                    <a href="#"><i class="bx bx-link-external"></i></a>
                </div>
            </div>
            <div class="portfolio-box">
                <img src="{% static 'img/img-prototype.png' %}" alt="#">
                <div class="portfolio-layer">
                    <h4>Web Design</h4>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo consequatur dolorem dolorum eius quae. </p>
                    <a href="#"><i class="bx bx-link-external"></i></a>
                </div>
            </div>
            <div class="portfolio-box">
                <img src="{% static 'img/img-prototype.png' %}" alt="#">
                <div class="portfolio-layer">
                    <h4>Web Design</h4>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo consequatur dolorem dolorum eius quae. </p>
                    <a href="#"><i class="bx bx-link-external"></i></a>
                </div>
            </div>
            <div class="portfolio-box">
                <img src="{% static 'img/img-prototype.png' %}" alt="#">
                <div class="portfolio-layer">
                    <h4>Web Design</h4>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo consequatur dolorem dolorum eius quae. </p>
                    <a href="#"><i class="bx bx-link-external"></i></a>
                </div>
            </div>
            <div class="portfolio-box">
                <img src="{% static 'img/img-prototype.png' %}" alt="#">
                <div class="portfolio-layer">
                    <h4>Web Design</h4>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo consequatur dolorem dolorum eius quae. </p>
                    <a href="#"><i class="bx bx-link-external"></i></a>
                </div>
            </div>
            <div class="portfolio-box">
                <img src="{% static 'img/img-prototype.png' %}" alt="#">
                <div class="portfolio-layer">
                    <h4>Web Design</h4>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo consequatur dolorem dolorum eius quae. </p>
                    <a href="#"><i class="bx bx-link-external"></i></a>
                </div>
            </div>
        </div>
    </section>

    <section class="contact" id="contact">
        <h2 class="heading">contact <span>Me!</span></h2>

        <form action="#">
            <div class="input-box">
                <input type="text" placeholder="Full Name">
                <input type="email" placeholder="Email Address">
            </div>
            <div class="input-box">
                <input type="number" placeholder="Mobile Number">
                <input type="text" placeholder="Email Subject">
            </div>
            <textarea name="" id="" cols="30" rows="10" placeholder="Your Message"></textarea>
            <input type="submit" value="Send Message" class="btn">
        </form>
    </section>
{% endblock %}
